/* Formatting for presentation slide pages in ScoreScope */

div#view_1521 h1 {			/* Event presentation page, event name */
	font-size: 32px;
}
div#view_1674 h2 {			/* Division B School Trophies presentation page, tournament name/date */
	font-weight: bold;
}
div#view_1859 h2 {			/* Division B Team Trophies presentation page, tournament name/date */
	font-weight: bold;
}
div#view_1685 h2 {			/* Division C School Trophies presentation page, tournament name/date */
	font-weight: bold;
}
div#view_1865 h2 {			/* Division C Team Trophies presentation page, tournament name/date */
	font-weight: bold;
}
div#view_1557 h2 {			/* Division BC School Trophies presentation page, tournament name/date */
	font-weight: bold;
}
div#view_1857 h2 {			/* Division BC Team Trophies presentation page, tournament name/date */
	font-weight: bold;
}
